################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Vehicle.Web/v16
/.vs/slnx.sqlite
/.vs/Vehicle.Web/DesignTimeBuild/.dtbcache
